body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  text-rendering: grayscale;
  image-rendering: pixelated;
}

label {
  user-select: none;
  display: block;
  margin-bottom: 10px;
}

input {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
}

button {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
}

.web-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  flex-wrap: wrap;
}

.tools {
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  flex-wrap: wrap;
}

.container {
  margin: 20px;
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
}

.input-holder {
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input-holder input {
  flex-grow: 1;
}

.output {
  margin-top: 16px;
  font-size: 16px;
}

.note {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 500px;
}

.note-content {
  font-size: 16px;
}